<div class="app-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h2 id='title'>EmberJS - XMPP Instant Message Client</h2>
                <hr>
            </div>
        </div>
    </div>
    {{outlet}}
</div>
